<div class="container">
  <div class="card">
    <p-galleria 
      [value]="images" 
      [responsiveOptions]="responsiveOptions" 
      [containerStyle]="{ 'max-width': '640px', 'max-height': '300px' }" 
      [numVisible]="5"
      (activeIndexChange)="onImageChange($event)">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; height: 100%; object-fit: cover;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" style="max-height: 100px;" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
  <div class="card">
    <table>
      <tr>
        <th>Título</th>
        <th>Director</th>
      </tr>
      <tr *ngIf="selectedPelicula">
        <td>{{ selectedPelicula.titulo }}</td>
        <td>{{ selectedPelicula.director }}</td>
      </tr>
    </table>
  </div>
</div>